/* Font Import */
@font-face {
  font-family: dana-regular;
  src: url("Fonts/Dana/dana-fanum-regular.woff2") format("woff2"),
    url("Fonts/Dana/dana-fanum-regular.woff") format("woff");
}

@font-face {
  font-family: dana-bold;
  src: url("Fonts/Dana/dana-fanum-bold.woff2") format("woff2"),
    url("Fonts/Dana/dana-fanum-bold.woff") format("woff");
}
/* Font Import */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--primary-font-regular);
}
/* Global Styles */

/* Variables */
:root {
    --primary-font-regular: dana-regular;
    --primary-font-bold: dana-bold;
}
/* Variables */
