/* Font Import */
@font-face {
  font-family: dana-regular;
  src: url("Fonts/Dana/dana-fanum-regular.woff2") format("woff2"),
    url("Fonts/Dana/dana-fanum-regular.woff") format("woff");
}

@font-face {
  font-family: dana-bold;
  src: url("Fonts/Dana/dana-fanum-bold.woff2") format("woff2"),
    url("Fonts/Dana/dana-fanum-bold.woff") format("woff");
}
/* Font Import */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--primary-font-regular);
}
/* Global Styles */

/* Variables */
:root {
  /* Fonts */
  --primary-font-regular: dana-regular;
  --primary-font-bold: dana-bold;
  /* Fonts */

  /* Colors */
  --primary-color: #0074d9;
  --on-primary-color: #fff;
  --hover-primary-color: #0865d7;

  --secondary-color: #b4d5fc;
  --on-secondary-color: #000;
  --hover-secondary-color: #8fc0fb;

  --tertiary-color: #ddd;
  --on-tertiary-color: #000;
  --background-tertiary-color: #eee;

  --error-color: #ff180c;
  --on-error-color: #fff;
  --hover-error-color: #f60c00;
  /* Colors */

  /* Spacing */
  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 2rem;

  --extra-small-margin: 0.25rem;
  --small-margin: 0.5rem;
  --medium-margin: 1rem;
  --large-margin: 2rem;
  /* Spacing */

  /* Radius */
  --extra-small-radius: 0.25rem;
  --small-radius: 0.5rem;
  --medium-radius: 0.75rem;
  --large-radius: 1rem;
  /* Radius */
}
/* Variables */

/* Button */
.primary-button {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-radius: var(--large-radius);
  border: none;
  padding-top: var(--small-padding);
  padding-bottom: var(--small-padding);
  padding-left: var(--medium-padding);
  padding-right: var(--medium-padding);
}

.primary-button:hover {
  background-color: var(--hover-primary-color);
}

.secondary-button {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);

  border-radius: var(--large-radius);
  border: none;

  padding-top: var(--small-padding);
  padding-bottom: var(--small-padding);
  padding-left: var(--medium-padding);
  padding-right: var(--medium-padding);
}

.secondary-button:hover {
  background-color: var(--hover-secondary-color);
}
/* Button */
